<div>
	<a ng-click="backToHome()" href="#"><< Home</a>
	<h1>List: {{ list.title }} <button ng-click="remove()">DEL</button></h1>
	<hr>
	<div>
		<p>Id : {{ list._id }}</p>
		<p>Author : {{ list.author }}</p>
		<p>Items:</p>
		
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in list.items track by $index">
            <span class="badge" ng-click="removeItem(item)">X</span>
            {{ item }}
          </li>
          <li class="list-group-item"><input type="text" name="item" size="20" ng-model="newItem" /><button ng-click="addItem()">ADD</button></li>
        </ul>
	
	</div>
</div>