 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">List Hero</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active : menuActivated == 'Home' }"><a href="/#!/">Home</a></li>
        <li ng-class="{ active : menuActivated == 'Lists' }"><a href="/#!/list/all">Lists</a></li>
        <li ng-class="{ active : menuActivated == 'Users' }"><a href="/#!/user">User</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!userLoged" ng-class="{ active : menuActivated == 'Login' }"><a href="/#!/login">Login</a></li>
        <li ng-if="userLoged"><a href="#" ng-click="logout()">{{ user_login }}</a></li>
        <li ng-if="userLoged"><a href="#" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>